# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Env files (IMPORTANT)
.env
.env.local
.env.development
.env.production
